<%= form_for(@line_course) do |f| %>
  <% if @line_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_course.errors.count, "error") %> prohibited this line_course from being saved:</h2>

      <ul>
      <% @line_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.number_field :cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
