<!DOCTYPE html>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.Name %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @course.Ects %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @course.Institute %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @course.Programme %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.Description %>
</p>

<!--The default HTTP method for a link is a get, the default HTTP method for a button is a post, and Rails uses these conventions to 		     					determine which method to call.-->
<td><%= button_to 'Add to Cart', line_courses_path(:course_id => @course) %></td>

<td>
<%= button_to "Back", courses_path, :id => "open-contacts-dialog-btn", 
        :class => "inbox-sf-add-btn tip", :method => :get %></td>

<!--<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>-->
